<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.smartfridge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        <!-- android:theme="@style/AppTheme" -->

        <!--<activity-->
            <!--android:name=".FullscreenActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/FullscreenTheme">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".input_page"-->
            <!--android:label="@string/title_activity_input_page" />-->
        <!--<activity-->
            <!--android:name=".Input_activity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:label="@string/title_activity_input_activity"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.example.user.smartfridge.Input_activity" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.vision.DEPENDENCIES" -->
        <!-- android:values="barcode,face"/> -->

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"></activity>
    </application>

</manifest>